# Source: https://github.com/kubernetes-sigs/lws/blob/v0.7.0/config/rbac/role.yaml
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: lws-manager-role
  labels:
    app.kubernetes.io/name: {{ app_name }}
rules:
  - apiGroups:
      - ""
    resources:
      - events
    verbs:
      - create
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - ""
    resources:
      - nodes
    verbs:
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - ""
    resources:
      - services
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - ""
    resources:
      - pods
    verbs:
      - delete
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - ""
    resources:
      - pods/finalizers
    verbs:
      - update
  - apiGroups:
      - ""
    resources:
      - secrets
    verbs:
      - get
      - list
      - update
      - watch
  - apiGroups:
      - admissionregistration.k8s.io
    resources:
      - mutatingwebhookconfigurations
      - validatingwebhookconfigurations
    verbs:
      - get
      - list
      - update
      - watch
  - apiGroups:
      - apps
    resources:
      - controllerrevisions
      - statefulsets
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - apps
    resources:
      - controllerrevisions/finalizers
      - statefulsets/finalizers
    verbs:
      - update
  - apiGroups:
      - apps
    resources:
      - controllerrevisions/status
      - statefulsets/status
    verbs:
      - get
      - patch
      - update
  - apiGroups:
      - leaderworkerset.x-k8s.io
    resources:
      - leaderworkersets
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - leaderworkerset.x-k8s.io
    resources:
      - leaderworkersets/finalizers
    verbs:
      - update
  - apiGroups:
      - leaderworkerset.x-k8s.io
    resources:
      - leaderworkersets/status
    verbs:
      - get
      - patch
      - update
---
# Source: https://github.com/kubernetes-sigs/lws/blob/v0.7.0/config/rbac/auth_proxy_role.yaml
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: lws-proxy-role
  labels:
    app.kubernetes.io/name: {{ app_name }}
rules:
  - apiGroups:
      - authentication.k8s.io
    resources:
      - tokenreviews
    verbs:
      - create
  - apiGroups:
      - authorization.k8s.io
    resources:
      - subjectaccessreviews
    verbs:
      - create
---
# Source: https://github.com/kubernetes-sigs/lws/blob/v0.7.0/config/rbac/auth_proxy_client_clusterrole.yaml
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: lws-metrics-reader
  labels:
    app.kubernetes.io/name: {{ app_name }}
rules:
  - nonResourceURLs:
      - /metrics
    verbs:
      - get
---
# Source: https://github.com/kubernetes-sigs/lws/blob/v0.7.0/config/rbac/role_binding.yaml
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: lws-manager-rolebinding
  labels:
    app.kubernetes.io/name: {{ app_name }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: lws-manager-role
subjects:
  - kind: ServiceAccount
    name: {{ app_name }}
    namespace: {{ namespace }}
---
# Source: https://github.com/kubernetes-sigs/lws/blob/v0.7.0/config/rbac/auth_proxy_role_binding.yaml
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: lws-proxy-rolebinding
  labels:
    app.kubernetes.io/name: {{ app_name }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: lws-proxy-role
subjects:
  - kind: ServiceAccount
    name: {{ app_name }}
    namespace: {{ namespace }}
---
# Source: https://github.com/kubernetes-sigs/lws/blob/v0.7.0/config/rbac/leader_election_role.yaml
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: lws-leader-election-role
  namespace: {{ namespace }}
  labels:
    app.kubernetes.io/name: {{ app_name }}
rules:
  - apiGroups:
      - ""
    resources:
      - configmaps
    verbs:
      - get
      - list
      - watch
      - create
      - update
      - patch
      - delete
  - apiGroups:
      - coordination.k8s.io
    resources:
      - leases
    verbs:
      - get
      - list
      - watch
      - create
      - update
      - patch
      - delete
  - apiGroups:
      - ""
    resources:
      - events
    verbs:
      - create
      - patch
---
# Source: https://github.com/kubernetes-sigs/lws/blob/v0.7.0/config/rbac/leader_election_role_binding.yaml
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: lws-leader-election-rolebinding
  namespace: {{ namespace }}
  labels:
    app.kubernetes.io/name: {{ app_name }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: lws-leader-election-role
subjects:
  - kind: ServiceAccount
    name: {{ app_name }}
    namespace: {{ namespace }}
