apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: basic-role-binding
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: basic-role
subjects:
- kind: ServiceAccount
  name: {{ svc_account_name }}
