apiVersion: v1
kind: Secret
metadata:
  name: {{ secret_name }}
  annotations:
     serving.kserve.io/s3-endpoint: "{{ s3_endpoint }}"
     serving.kserve.io/s3-usehttps: "{{ s3_usehttps }}"
     serving.kserve.io/s3-region: "{{ s3_region }}"
     serving.kserve.io/s3-useanoncredential: "{{s3_useanoncredential }}"
type: Opaque
stringData: # use `stringData` for raw credential string or `data` for base64 encoded string
  AWS_ACCESS_KEY_ID: {{ s3_access_key }}
  AWS_SECRET_ACCESS_KEY: {{ s3_secret_access_key }}
